<div id="<%= dom_id printer %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= printer.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Print size x:</strong>
    <%= printer.print_size_x %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Print size y:</strong>
    <%= printer.print_size_y %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Print size z:</strong>
    <%= printer.print_size_z %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Extruder</strong>
    <% if (extr = printer.extruder) %>
      <%= link_to extr.name, extr, class: "link link-hover"%>
    <% end %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Kinematics</strong>
    <% if (kin = printer.kinematic) %>
      <%= link_to kin.name, kin, class: "link link-hover"%>
    <% end %>
  </p>

  <textarea class="textarea textarea-bordered w-96 h-96" placeholder="config"><%= prepare_config(@printer) %></textarea>
</div>


