<div id="<%= dom_id extruder %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= extruder.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rotation distance:</strong>
    <%= extruder.rotation_distance %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Gear ratio:</strong>
    <%= extruder.gear_ratio %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Microsteps:</strong>
    <%= extruder.microsteps %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Full steps per rotation:</strong>
    <%= extruder.full_steps_per_rotation %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Filament diameter:</strong>
    <%= extruder.filament_diameter %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Nozzle diameter:</strong>
    <%= extruder.nozzle_diameter %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this extruder", extruder, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this extruder", edit_extruder_path(extruder), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
