<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Configurator</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body class="h-screen overflow-hidden flex flex-col">
<!-- Topbar -->
<div class="navbar bg-base-300">
  <div class="flex-1">
    <a class="btn text-xl">Configurator</a>
  </div>
  <div class="flex-none">
    <button class="btn btn-square btn-ghost">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block h-5 w-5 stroke-current">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path>
      </svg>
    </button>
  </div>
</div>

<div class="flex flex-1 overflow-auto">
  <!-- Sidebar -->
  <div class="w-64 bg-base-200 p-4">
    <ul class="menu">
      <li>
        <%= link_to "Printers", printers_path %>
      </li>
      <li>
        <%= link_to "Kinematics", kinematics_path %>
      </li>
      <li>
        <%= link_to "Extruders", extruders_path %>
      </li>
      <li>
        <%= link_to "Settings", settings_path %>
      </li>
    </ul>

    <ul class="menu bg-base-100 w-full rounded-box mt-4">
      <li class="menu-title text-secondary-content">Voron 2.4</li>
      <li><a href="#" class="hover:bg-secondary hover:text-white">Overview</a></li>
      <li><a href="#" class="hover:bg-secondary hover:text-white">Axes</a></li>
      <li><a href="#" class="hover:bg-secondary hover:text-white">Extruders</a></li>
      <li><a href="#" class="hover:bg-secondary hover:text-white">Sensors</a></li>
      <li><a href="#" class="hover:bg-secondary hover:text-white">Fans</a></li>
      <li><a href="#" class="hover:bg-secondary hover:text-white">Macros</a></li>
      <li><a href="#" class="hover:bg-secondary hover:text-white">Calibration</a></li>
    </ul>
  </div>

  <!-- Main content -->
  <main class="flex-1 overflow-auto px-6 py-4">
    <%= yield %>
  </main>
</div>
</body>
</html>