<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Configurator</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body class="h-screen overflow-hidden bg-base-100 flex flex-col">
<!-- Topbar -->
<header class="bg-base-200 py-4 px-6 border-b border-gray-200 flex items-center justify-between">
  <h2 class="text-xl font-semibold text-gray-700">Configurator</h2>
  <!-- Other header items -->
</header>

<div class="flex flex-1 overflow-auto">
  <!-- Sidebar -->
  <ul class="menu bg-base-200 w-64">
    <li>
      <%= link_to "Printers", printers_path %>
    </li>
    <li>
      <%= link_to "Kinematics", kinematics_path %>
    </li>
    <li>
      <%= link_to "Extruders", extruders_path %>
    </li>
  </ul>

  <!-- Main content -->
  <main class="flex-1 overflow-auto px-6 py-4">
    <%= yield %>
  </main>
</div>
</body>
</html>